body.template-discussion_reply_form .documentActions {
  display:none;
}

.classificationItem {
  padding-left:1em;
}

.portletBlogCategory .portletItem,
.portletTagcloud .portletItem {
  font-size: 1em;
}

.portletBlogCategory ul {
  padding-left: 0;
  list-style: none;
}

.portletBlogCategory ul ul {
  padding-left: 1em;
}

.portletBlogCategory ul li {
  margin-bottom: 0.5em;
}

.portletTagcloud .portletItem a {
  color: #76797c;
  padding:0 4px;
}

.portletTagcloud ul{
  text-align: center;
}

.blogImages a {
  border: 1px solid lightgrey;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
}

.blogItem {
  padding-bottom: 1.5em;
}

.blogItem .comments {
  font-size: 11px;
  margin-top: 0.5em;
}

.categorization,
.showAll {
  padding-top: 1em;
}