body.template-discussion_reply_form .documentActions {
  display:none;
}

.blogView {
/*position: relative;*/
}
.blogView .rightColumn {
  top: 0;
  right: -20em;
}
.classificationItem {
  padding-left:1em;
}

.blogView .actionsBarContent {
  padding:1em 1em 1.5em;
}

/* another exception for actionbar and edit menus */
.blogView .actionsBar {
  margin-top: -1.1em;
}
.blogView h1,
.blogView #dropdown-contentmenu {
  margin-left: 0 !important;
}

.blogView .leftColumn{
  width:70%;
  float:left;
}

.blogView .rightColumn{
  float:right;
  width:20%;
}

.blogColumns{
  clear:right;
}

.portletBlogCategory .portletItem,
.portletTagcloud .portletItem {
  font-size: 1em;
}
.portletTagcloud .portletItem a {
  color: #76797c;
}

.blogView .blogImages a {
  border: 1px solid lightgrey;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
}