body.template-discussion_reply_form .documentActions {
  display:none;
}

.classificationItem {
  padding-left:1em;
}

.portletBlogCategory .portletItem,
.portletTagcloud .portletItem {
  font-size: 1em;
}
.portletTagcloud .portletItem a {
  color: #76797c;
}

.blogImages a {
  border: 1px solid lightgrey;
  display: block;
  float: left;
  margin: 0.5em;
  padding: 1em;
}

.blogItem {
  padding-bottom: 1.5em;
}

.blogItem .comments {
  font-size: 11px;
  margin-top: 0.5em;
}

.categorization,
.showAll {
  padding-top: 1em;
}