
ul.weblog-listing {
    list-style: none;
    border-bottom: 1px solid #F0F0F0;
    padding-top: 4px;
}
li.weblog-listing-date {
    float: left;
    background-color: #F0F0F0;
    font-size: x-small;
    padding: 5px;
    margin-right: 5px;
}
a.weblog-listing-title {
    font-size: 1.2em;
}

