body.template-discussion_reply_form .documentActions {
    display:none;
}

.blogView {
    position: relative;
}
.blogView .rightColumn {
    position: absolute;
    top: 0;
    right: -20em;
}
.classificationItem {
    padding-left:1em;
}

#actionsBar, .actionsBar {
    background-color:#EFEFEF;
}

.blogView .actionsBarContent {
    border-bottom:1px solid #6F9CBC;
    padding:0 1em 1.5em;
}

/* another exception for actionbar and edit menus */
.blogView .actionBar {
    margin-left: -1em;
}
.blogView h1,
.blogView #dropdown-contentmenu {
    margin-left: 0;
}